{% extends "./account_base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Password Reset{% endblock  %}
{% block content %}
<div class="p-5 d-flex justify-content-center box01"></div>
<div class="d-flex justify-content-center align-items-center">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-sm-12">
            <div class="card box02">
                <div class="card-body p-3">
                    <h5 class="text-center text-light">{% trans "Password Reset" %}</h5>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-light">
                        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                    </p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% for item in form %}
                        {% csrf_token %}
                        <label for="{{item.label}}" class="text-white">{{item.label}}</label>
                        {{item|add_class:'form-control'}}
                        {% endfor %}
                        <input type="submit" class="btn btn-sm btn-warning mt-3" value="{% trans 'Reset My Password' %}" />
                    </form>
                    <br>
                    <p class="text-light p-1 mt-2">{% trans "Please contact us if you have any trouble resetting your password." %}</p>
                    <p class="text-light"><i class="fa-solid fa-phone"></i> (02) 9748 1000</p>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
    {% endblock %}