{% extends "./admin_base.html" %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="mb-0 text-center">전체주문내역</h4>
                </div>
                <div class="card-body">
                    <table class="table">

                        <thead>
                            <tr class="table-light text-center">
                                <th>#</th>
                                <th>고객명</th>
                                <th>주문날자</th>
                                <th>주문번호</th>
                                <th>주문상황</th>
                                <th>배송담당자</th>
                                <th>보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in page_obj  %}
                                <tr class="text-center">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ item.company_name}}</td>
                                    <td>{{ item.created_at}}</td>
                                    <td>{{ item.tracking_no}}</td>
                                    <td>{{ item.status}}</td>
                                    <td>{{ item.representative|default_if_none:""|capfirst }}</td>
                                    <td>
                                        <a href="{% url 'storeman:order_details' item.tracking_no %}" class="btn btn-danger">자세히</a>
                                        <a href="{{ item.ami_file.url }}" class="btn btn-warning">알맹이 CSV</a>
                                        <a href="{{ item.order_pdf.url }}" class="btn btn-info">주문서 PDF</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                                            <!--pagination-->
                    <br><br>
                    {% include "../pagination.html"%}

                                            <!--end of pagination-->
                </div>
            </div>
        </div>
    </div>    
</div>  

{% endblock %}