{% extends './delivery_base.html' %}

{% block content %}
{% if request.user.is_staff %}
<div class="container p-2">
  <div class="card">
    <div class="card-header">
      <h6 class="text-center text-bolder">담당자: {{request.user.username|upper}}({{request.user.last_name}}{{request.user.first_name}})</h6>
    </div><!--end card-header-->
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <a href="{% url "delivery:my_delivery_list" request.user.username %}" class="btn btn-sm btn-outline-primary float-end">배송완료</a>
        </div><!--end col-->
        <div class="col-3">
          <a href="/logout" class="btn btn-sm btn-outline-danger float-end">로그아웃</a>
        </div><!--end col-->
      </div><!--end card row-->
    </div><!--end card-body-->
  </div><!--end card-->

  <div class="row">
    <div class="col-6-sm">
      <div class="table-responsive-sm">
        <table class="table table-hover text-center mt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">주문번호</th>
              <th scope="col">고객명</th>
              <th scope="cod">위치</th>

            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>{{ forloop.counter}}</td>
              <td>
                <a href="{% url 'delivery:delivery_details' order.tracking_no %}">
                  {{ order.tracking_no}}
                </a>
              </td>
              <td>{{ order.company_name}}</td>
              <td>{{ order.city}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}