{% extends './delivery_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if request.user.is_staff %}
<div class="container-sm container-fluid">
  <h6 class="text-center mt-3">{{order.company_name}}: {{order.tracking_no}}</h6>
  <h6>고객전달사항: {{order.message}}</h6>
  <div class="row">
    <div class="col-6-sm">
        <table class="table text-center table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">품목</th>
              <th scope="col">수량</th>
              <th scope="col">상태</th>

            </tr>
          </thead>
          <tbody>
            {% for item in orderitems %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td>
                  <a href="{% url 'delivery:delivery_items_status' item.id %}">{{ item.product.title}}</a>
                </td>
                <td>{{ item.quantity}}</td>
                <td class="{% if item.item_status  == '반품' %} text-danger {% elif item.item_status == '미배달' %} text-primary {% endif %}">
                  {{ item.item_status }}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div> <!--End col-6-->
  <div><!--End row-->
    <div class='row'>
      <form action="" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
      <div class="col-md-12">
      {{form.delivery_note|as_crispy_field}}
      {{form.status|as_crispy_field}}
      {{form.payment_mode|as_crispy_field}}
      {{form.delivery_photo|as_crispy_field}}
      <span class="fs-6">사진크기는2-3MB</span>
    </div>
        <div class="card border-0 p-2">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <a href=""></a>
                <button type="submit" class="btn btn-sm btn-warning float-start" name="Submit">저장</button>
              </div>
              <div class="col-6">
                <a href="{% url "delivery:delivery_home" %}?next={{ request.path|urlencode }}"
                class="btn btn-sm btn-primary float-end">나가기</a>
              </div>
            </form>
            </div>
          </div>
        </div>
</div> <!--End container-->
{% endif %}
{% endblock content %}