{% extends './delivery_base.html' %}
{% block content %}

<section class="bg-light mt-5">
    <h3 class="text-center pb-3"><i class="fa fa-carrot text-green"></i>야채주문현황</h3>
    <div class="wishdata table-responsive" id="no-more-tables">
        <table class="table bg-white">
            <thead class="bg-success text-white">
                <tr>
                    <th>#</th>
                    <th>고객명</th>
                    <th>품목</th>
                    <th>규격</th>
                    <th>단위</th>
                    <th>수량</th>
                </tr>
            </thead>
            <tbody>
                {% for item in vegi_order %}
                <tr>
                    <td data-title="#">{{forloop.counter}}</td>
                    <td data-title="고객명">{{item.order.company_name}}</td>
                    <td data-title="품목">{{item.product.title}}</td>
                    <td data-title="규격">{{item.product.spec}}</td>
                    <td data-title="단위">{{item.product.unit}}</td>
                    <td data-title="수량">{{item.quantity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
  

{% endblock content %}

