{% extends '../admin_base.html' %}
{% load widget_tweaks %}

{% block content %}
{% comment %} <div class="container">
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>에러!</strong> 비밀번호 또는 필수항목이 빠졌습니다. 
      </div>
    {% endif %} {% endcomment %}
<!--Start card-->
<div class="container">
    <div class="card p-2">
        <div class="card-header text-center">
        <h5>고객등록</h5>
        </div>
<!--Card body-->
        <div class="card-body">
            <form method="post">
            <div class="row">
                {% csrf_token %}
            <div class="col-md-6 mb-0">
                <label>사용자ID</label>
                {% render_field form.username placeholder="사용자ID" class+="form-control" %}
                {{form.username.errors}}
                
            </div>
            <div class="col-md-6 mb-0">
                <label>이메일</label>
                {% render_field form.email placeholder="이메일" class+="form-control" %}
                {{form.email.errors}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4 mb-0">
                <label>이름</label>
                {% render_field form.first_name placeholder="이름" class+="form-control" %}
                {{form.first_name.errors}}
            </div>
            <div class="form-group col-4 mb-0">
                <label>성명</label>
                {% render_field form.last_name placeholder="성명" class+="form-control" %}
                {{form.last_name.errors}}
            </div>
            <div class="form-group col-4 mb-0">
                <label>연락처</label>
                {% render_field form.phone placeholder="연락처" class+="form-control" %}
                {{form.phone.errors}}
            </div> 
        </div>
        <div class="row">
            <div class="form-group col-4 mb-0">
                <label>비밀번호</label>
                {% render_field form.password1 placeholder="비밀번호" class+="form-control" %}
                {{form.password1.errors}}
            </div> 
            <div class="form-group col-4 mb-0">
                <label>비밀번호확인</label>
                {% render_field form.password2 placeholder="비밀번호확인" class+="form-control" %}
                {{form.password2.errors}}
            </div> 
            <div class="form-group col-4 mb-0">
                <label>역할</label>
                {% render_field form.role placeholder="역할" class+="form-control" %}
                {{form.password2.errors}}
            </div> 
        </div>
    </div>
    <!--End Card body-->
    <!--Card footer-->
        <div class="card-footer">
            <button  class="btn btn-outline-danger me-3" type="cancel"><a href="{% url "storeman:create_customer" %}">취소</a></button>
            <button  class="btn btn-outline-success" type="sumbit">등록</button>
            <button class="btn btn-outline-primary float-end"><a href="{% url "storeman:display_customer_list" %}">이전</a></button> 
        </div>
<!--End Card footer-->
       </form>
    </div>
<!--End card-->
</div>
{% endblock content %}

