{% extends '../admin_base.html' %}

{% block content  %}
<div class="container p-3">
    <div class="align-baseline">
        <a href="{% url 'storeman:create_customer_address' customer.id %}" class="btn btn-info"><i
                class="bi bi-plus"></i> 배송지추가</a>
        <a href="{% url 'storeman:display_customer_list' %}" class="btn btn-info float-end"><i
                class="fa-solid fa-left-long"></i> 이전</a>
    </div>
    <table class="table table-bordered border-dark text-center mt-2">
        <thead class="bg-light">
            <tr>
                <th>사용자ID</th>
                <th>담당자명</th>
                <th>연락처</th>
                <th>이메일</td>
                <th>역할</td>
                <th>수정</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{customer.username}}</td>
                <td>{{customer.last_name}} {{customer.first_name}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.role}}</td>
                <td>
                    <a href="{% url "storeman:edit_customer" customer.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

<table class="table table-bordered border-dark text-center">
        <thead class="bg-light">
            <tr>
                <th>#</th>
                <th>배송지명</th>
                <th>주소</th>
                <th>도시명</th>
                <th>주</th>
                <th>우편번호</th>
                <th>기본배송지</th>
                <th>배송방법</th>
                <th>주문코드(일반)</th>
                <th>주문코드(야채)</th>
                <th>수정</th>
            </tr>
        </thead>
        <tbody>
            {% for addr in address %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ addr.h_name }}({{addr.e_name}})</td>
                <td>{{addr.address}}</td>
                <td>{{addr.city}}</td>
                <td>{{addr.state}}</td>
                <td>{{addr.postcode}}</td>
                <td>{{addr.default}}</td>
                <td>{{addr.delivery_instructions}}</td>
                <td>{{addr.gen_code}}</td>
                <td>{{addr.vegi_code}}</td>
                <td>
                    <a href="{% url 'storeman:edit_customer_address' customer.id addr.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}