{% extends '../admin_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container p-2">
    <div class="card">
        <div class="card-header">
            <h5>배송지수정</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        {{form.nick_name|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{form.h_name|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{form.e_name|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{form.biz_type|as_crispy_field}}
                    </div>
                </div><!--first row-->
                <div class="row">
                    <div class="col-md-5">
                        {{form.address|as_crispy_field}}
                    </div>
                    <div class="col-md-2">
                        {{form.state|as_crispy_field}}
                    </div>
                    <div class="col-md-2">
                        {{form.city|as_crispy_field}}
                    </div>
                    <div class="col-md-2">
                        {{form.postcode|as_crispy_field}}
                    </div>
                </div><!--Second row-->
                <div class="row">
                    <div class="col-md-3">
                        {{form.driver|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{form.vegi_code|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{form.gen_code|as_crispy_field}}
                    </div>
                    <div class="col-md-3 p-4">
                        {{form.default|as_crispy_field}}
                    </div>
                </div><!--Third row-->
                <div class="row">
                    <div class="col-md-3">
                        {{form.delivery_instructions|as_crispy_field}}
                    </div>
                </div><!--Forth row-->
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning">저장하기</button>
                    <a href="{% url "storeman:display_customer_details" customer.id %}" class="btn btn-primary">뒤로가기</a>
                    <a href="#delModal" roll="button" data-bs-toggle="modal" class="btn btn-danger float-end"><i class="bi bi-trash3"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Customer address Modal HTML -->
<div id="delModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6class="modal-title">확인</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p> 배송지 {{address.address}} 삭제하겠습니까?</p>
                <p class="text-secondary"><small></small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">나가기</button>
                <a href="{% url 'storeman:delete_customer_address' customer.id address.id %}"><button type="button"
                    class="btn btn-primary">삭제하기</button></a>
                </div>
            </div>
        </div>
</div>
<!--End Modal-->
{% endblock content %}