{% extends "../admin_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5>직원정보수정</h5>
        </div>
        <div class="card-body">
            <form action="" method='post'>
                {% csrf_token %}
                {{form|crispy}}
            </div><!--End card-body-->
            <div class="card-footer">
                
            </div><!--End card-footer-->
        </form>
    </div><!--End card-->
</div><!--End container-->
{% endblock content %}