{% load i18n %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color:#2d2d2d">
  <div class="container">
    <div class="d-flex">
    <a class="navbar-brand" href="/"><img src="/media/images/gomaps.png" alt="" style="height: 30px;"></a>
          <!--Start search-->
          <form method="get" action="{% url 'store:search' %}">
            <div class="col-sm-12 py-2">
              <div class="input-group me-auto">
                <input name="q" type="text" required class="form-control ms-2" placeholder="{{_('Search...')}}" value={{ q|default_if_none:'' }}>
                <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
              </div>
            </div>
          </form>
          <!--End Search-->
    <!--Hamburger button-->
    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"  
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
  <!--End Button-->
    <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ _('Categories') }}
          </a>
          <ul class="dropdown-menu">
            {% for c in categories %}
            <li><a class="dropdown-item" href="{% url 'store:product_list' c.slug %}">{{c.title}}({{c.e_title}})</a></li>
            {% endfor %}
          </ul>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item add_wish">
          <a class="nav-link active" aria-current="page" href="{% url 'store:wishlist_view' %}"><i
            class="fas text-light fa-star"></i> {{ _('Favorite') }}</a>
        </li>
        <li class="nav-item del_cart add_data">
          <a class="nav-link active" aria-current="page" href="{% url 'store:cart' %}"><i class="fas text-light fa-shopping-cart"></i> {{ _('Cart') }} 
            <div id="product_qty" class="d-inline-flex text-warning">
              ({{cart|length}})
            </div>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-regular fa-circle-user"></i> {{request.user.username}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'store:myorders' %}">{{ _('Order History')}}</a></li>
            <li><a class="dropdown-item" href="{% url 'company:my_addressbook' %}" disable>{{ _('Choose location')}}</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">{{_('Logout')}}</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">{{_('Login')}}</a>
        </li>
        {% endif %}
        {% if request.user.is_superuser%}
        </li> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'storeman:admin_home' %}">{{_('Admin')}}
            <i class="bi bi-shield-exclamation"></i>
          </a>
        </li>
        {% endif %}
</ul>
    </div>
  </div>
</nav>
<!--Sub Menu-->
<div class="py-3 mt-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="text-black" href="{% url 'store:category' %}">{{ _('Categories') }} |</a>
      <a class="text-black"  href="{% url 'store:wishlist_view' %}">{{_('Favorite')}} |</a>
      <a class="text-black" href="{% url 'store:cart'%}">{{_('Cart')}}</a>
    </div>
    </div>
    </div>
</div>


