{% load filter_tags %}

<nav aria-label="Page navigation">
  {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">    
    
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">&laquo 앞쪽</a>
    </li>
    {% else %}
    <li class="page-item"><span class="page-link" >처음</span></li>
    {% endif %}
  
    {% for page in custom_range%}
      {% if page == page_obj.number %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" style="text-decoration:none; color:red;" href="?{% param_replace page=page %}">{{page}}</a>
      </li>
      {% else %}     
      <li class="page-item">
        <a class="page-link" style="text-decoration:none; color:blue;" href="?{% param_replace page=page %}">{{page}}</a>
      </li>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">다음</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">마지막 &raquo</a>
      </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>
