{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3 ">
        {% for p in product_list %}
        <div class="col-sm-10 col-md-10 col-lg-3 mt-2 ">
            <div class="mt-1">
                <p class"fs-12"><a href="{% url "store:productdetail" p.id %}"><strong>{{p.title}}</strong></a></p>                
                <img src="{{p.image.url}}" alt="" class="img-fluid" style="height:2500; object-fit: cover;">
                <p class ="mt-1">Price: ${{p.sale_price}}</p>
                <a href="" class="btn btn-primary fs-16">장바구니담기</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% endblock content %}
    