{% extends '../admin_base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url "storeman:submit_order" %}" class="btn btn-primary">주문처리</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h5>금일전체주문: {{daily_count}}건</h5>
        </div>        
        <div class="card-body">
            <p class="fs-4">{{order_count}}</p>
            <p>파일갯수 : {{csv_files_count}}</p>
            {{csv_files}}
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h5>처리결과</h5>
        </div>
        <div class="card-body">
            {% for file in merged_files %}
                {{file}}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}